/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 8px;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 8px;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 8px;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 8px;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 8px;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 8px;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 8px;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 8px;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 8px;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 8px;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 8px;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 8px;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 8px;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 8px;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 8px;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 8px;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 8px;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 8px;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 8px;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 8px;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 8px;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 8px;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 8px;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 8px;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 8px;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 8px;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 8px;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 8px;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 8px;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 8px;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 8px;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 8px;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 8px;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 8px;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 8px;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 8px;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 8px;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 8px;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 8px;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 8px;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 8px;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 8px;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 8px;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 8px;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 8px;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 8px;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 8px;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 8px;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 8px;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 8px;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 8px;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 8px;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 8px;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 8px;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 8px;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 8px;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 8px;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 8px;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 8px;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 8px;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 8px;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 8px;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 8px;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.4rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  color: #000;
  height: 40px;
  outline: none;
  background: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 4px 16px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #000;
}
.form_control::-webkit-input-placeholder {
  color: #000;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}

textarea.form_control {
  height: auto;
}

.form_label {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 8px;
}
.form_label_line {
  padding: 8px 0;
  font-size: 1.4rem;
  line-height: 2rem;
}

.form_group {
  margin-bottom: 16px;
}

.switch {
  z-index: 10;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.switch__active {
  color: #fff;
  cursor: pointer;
  padding: 4px 14px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  background: #60b661;
  text-decoration: none;
  border: 1px solid #51ac52;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.switch__active:hover {
  color: #fff;
  background: #51ac52;
  text-decoration: none;
}
.switch__active i {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.switch__value {
  min-width: 30px;
  margin: 0 6px;
}
.switch__dropdown {
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  z-index: 10;
  display: none;
  overflow: hidden;
  background: #fff;
  list-style: none;
  margin: 8px 0 0 0;
  position: absolute;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.switch__dropdown li {
  border-bottom: 1px solid #f5f5f5;
}
.switch__dropdown li:last-child {
  border-bottom: none;
}
.switch__dropdown li a {
  width: 100%;
  color: #000;
  padding: 5px 15px 5px 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
.switch__dropdown li a:hover {
  color: #000;
  background: #dfdfdf;
  text-decoration: none;
}
.switch.open {
  z-index: 100;
}
.switch.open .switch__active {
  color: #fff;
  background: #51ac52;
}
.switch.open .switch__active i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.switch.open .switch__dropdown {
  display: block;
}

.input_wrap {
  position: relative;
}

.input_switch {
  top: 5px;
  right: 5px;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  position: absolute;
}

.form_checkbox {
  width: 40px;
  height: 40px;
  font-weight: 400;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  color: #ccc;
  width: 40px;
  height: 40px;
  padding: 11px 0 11px 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span i {
  opacity: 0;
  visibility: hidden;
}
.form_checkbox input:checked + span i {
  opacity: 1;
  visibility: visible;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
.table th {
  text-align: left;
  color: #8D8D8D;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 15px 10px;
  border-bottom: 1px solid #EFEFEF;
}
.table td {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 10px 10px;
  border-bottom: 1px solid #EFEFEF;
}

@media (max-width: 768px) {
  .table_mobile {
    display: block;
  }
  .table_mobile thead {
    display: none;
  }
  .table_mobile tbody {
    display: block;
  }
  .table_mobile th {
    display: none;
  }
  .table_mobile tr {
    display: block;
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid #4F76B4;
  }
  .table_mobile td {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .table_mobile td:before {
    padding-right: 10px;
    content: attr(data-label);
    text-transform: uppercase;
    font-weight: bold;
  }
}

.table_responsive {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 8px;
}

.btn {
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 4px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #60b661;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #2ab62e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover {
  color: #fff;
  background: #2ab62e;
  text-decoration: none;
}
.btn:active {
  background: #60b661;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn span {
  margin: 0 8px;
}

.btn_red {
  background: #F52C00;
  border-color: #f55345;
}
.btn_red:hover {
  background: #f55345;
}
.btn_red:active {
  background: #F52C00;
}

.btn_blue {
  background: #387CB5;
  border-color: #1761b5;
}
.btn_blue:hover {
  background: #1761b5;
}
.btn_blue:active {
  background: #387CB5;
}

.btn_yellow {
  background: #F0C232;
  border-color: #F0C232;
}
.btn_yellow:hover {
  background: #f0e50b;
}
.btn_yellow:active {
  background: #F0C232;
}

.btn_purple {
  background: #9A5EB4;
  border-color: #913eb4;
}
.btn_purple:hover {
  background: #913eb4;
}
.btn_purple:active {
  background: #9A5EB4;
}

.btn_rose {
  background: #ff7b6c;
  border-color: #ff7b6c;
}
.btn_rose:hover {
  background: #ff3e2d;
}
.btn_rose:active {
  background: #ff7b6c;
}

.btn_gray {
  color: #000;
  background: #EFEFEF;
  border-color: #EFEFEF;
}
.btn_gray:hover {
  color: #000;
  background: #a9a9a9;
}

.btn_border {
  color: #000;
  border-color: #ccc;
  background: transparent;
}
.btn_border:hover {
  color: #fff;
  background: #60b661;
  border-color: #60b661;
}
.btn_border.active {
  color: #fff;
  background: #60b661;
  border-color: #60b661;
}

.btn_border_blue {
  color: #387CB5;
  border-color: #387CB5;
  background: transparent;
}
.btn_border_blue:hover {
  color: #fff;
  background: #387CB5;
  border-color: #387CB5;
}
.btn_border_blue.active {
  color: #fff;
  background: #387CB5;
  border-color: #387CB5;
}

.btn_list {
  padding: 0;
  list-style: none;
  margin: 0 -4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_list li {
  padding: 4px;
}

.btn-sm {
  padding: 4px 10px;
}

.btn_xs {
  border: none;
  font-size: 11px;
  padding: 1px 10px;
}

.btn_md {
  font-weight: 700;
  padding: 9px 25px;
}

.btn_long {
  width: 100%;
}

.btn_group {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_group .btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.btn_group .btn:first-child {
  margin-left: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color_green {
  color: #60b661 !important;
}

.mb_24 {
  margin-bottom: 24px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.428571;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h4, .h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 16px;
  font-family: "Open Sans", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 8px;
  font-family: "Open Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 8px;
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #4F76B4;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #4F76B4;
  text-decoration: underline;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  position: fixed;
  background: #fff;
  border-bottom: 5px solid #4669A3;
}
.header__row {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__logo {
  width: 40px;
  display: block;
}
.header_summary {
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  margin: 0 0 0 30px;
}
.header_exchange {
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  margin: 0 30px 0 30px;
}
.header_exchange strong {
  font-weight: 400;
}
.header_account {
  font-size: 0;
  line-height: 0;
  margin-right: -15px;
  position: relative;
}
.header_account__button {
  width: 50px;
  height: 60px;
  cursor: pointer;
  padding: 20px 15px;
  background: #fff;
  position: relative;
  text-align: center;
}
.header_account__button i {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.header_account__button .ico-svg {
  stroke: #4F76B4;
}
.header_account__button:hover {
  background: #4F76B4;
}
.header_account__button:hover .ico-svg {
  stroke: #fff;
}
.header_account__dropdown {
  right: 0;
  top: 100%;
  padding: 0;
  min-width: 100%;
  display: none;
  list-style: none;
  background: #fff;
  margin: 5px 0 0 0;
  position: absolute;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.header_account__dropdown li {
  border-bottom: 1px solid #f5f5f5;
}
.header_account__dropdown li:last-child {
  border-bottom: none;
}
.header_account__dropdown li a {
  width: 100%;
  color: #4F76B4;
  padding: 10px 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.header_account__dropdown li a:hover {
  color: #4F76B4;
  background: #f5f5f5;
  text-decoration: none;
}
.header_account.open .header_account__button {
  background: #4F76B4;
}
.header_account.open .header_account__button .ico-svg {
  stroke: #fff;
}
.header_account.open .header_account__dropdown {
  display: block;
}
.header_lng {
  font-size: 0;
  line-height: 0;
  margin-left: 15px;
  position: relative;
}
.header_lng__active {
  width: 50px;
  height: 60px;
  cursor: pointer;
  padding: 20px 15px;
  background: #fff;
  position: relative;
  text-align: center;
}
.header_lng__active i {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header_lng__active .ico-svg {
  stroke: #4F76B4;
}
.header_lng__active:hover {
  background: #4F76B4;
}
.header_lng__dropdown {
  right: 0;
  top: 100%;
  padding: 0;
  display: none;
  list-style: none;
  margin: 0 0 0 0;
  position: absolute;
  background: #fff;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.header_lng__dropdown li a {
  width: 100%;
  color: #4F76B4;
  line-height: 2rem;
  font-size: 1.4rem;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header_lng__dropdown li a i {
  width: 20px;
  height: 20px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.header_lng__dropdown li a span {
  margin-left: 10px;
}
.header_lng__dropdown li a:hover {
  background: #f5f5f5;
}
.header_lng.open .header_lng__active {
  background: #4F76B4;
}
.header_lng.open .header_lng__dropdown {
  display: block;
}
.header_currency {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.header_currency__active {
  color: #fff;
  cursor: pointer;
  padding: 4px 14px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  background: #60b661;
  text-decoration: none;
  border: 1px solid #51ac52;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.header_currency__active:hover {
  color: #fff;
  background: #51ac52;
  text-decoration: none;
}
.header_currency__active i {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header_currency__value {
  min-width: 30px;
  margin: 0 6px;
}
.header_currency__dropdown {
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  z-index: 10;
  display: none;
  overflow: hidden;
  background: #fff;
  list-style: none;
  margin: 8px 0 0 0;
  position: absolute;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.header_currency__dropdown li {
  border-bottom: 1px solid #f5f5f5;
}
.header_currency__dropdown li:last-child {
  border-bottom: none;
}
.header_currency__dropdown li a {
  width: 100%;
  color: #000;
  padding: 5px 27px 5px 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
.header_currency__dropdown li a:hover {
  color: #000;
  background: #f5f5f5;
  text-decoration: none;
}
.header_currency__dropdown li.active a {
  font-weight: 700;
}
.header_currency.open .header_currency__active {
  color: #fff;
  background: #51ac52;
}
.header_currency.open .header_currency__active i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header_currency.open .header_currency__dropdown {
  display: block;
}
@media (min-width: 768px) {
  .header__logo {
    width: 60px;
  }
}
.sidenav {
  left: 0;
  top: 65px;
  width: 50px;
  display: block;
  position: fixed;
  background: #4F76B4;
  height: calc(100vh - 65px);
}
.sidenav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #3F5F90;
}
.sidenav > ul:last-child {
  border-bottom: none;
}
.sidenav > ul > li a {
  color: #fff;
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.sidenav > ul > li a:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  content: "";
  display: block;
  position: absolute;
  background: transparent;
}
.sidenav > ul > li a i {
  width: 20px;
  display: inline-block;
}
.sidenav > ul > li a span {
  display: none;
}
.sidenav > ul > li a:hover {
  color: #fff;
  background: #3F5F90;
  text-decoration: none;
}
.sidenav > ul > li.active {
  background: #3F5F90;
}
.sidenav > ul > li.active > a:before {
  background: #fff;
}
@media (min-width: 992px) {
  .sidenav {
    width: 250px;
  }
  .sidenav > ul > li > a {
    height: 48px;
    padding: 5px 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .sidenav > ul > li > a span {
    margin-left: 17px;
    display: inline-block;
  }
}

.footer {
  padding: 20px 0;
  background: #202020;
}

.page {
  width: 100%;
  background: #F0F2F5;
  padding-left: 50px;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page_no_sidenav {
  padding-left: 0;
}
@media (min-width: 992px) {
  .page {
    padding-left: 250px;
  }
  .page_no_sidenav {
    padding-left: 0;
  }
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.wrap {
  padding: 16px 0;
}

.bar {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.bar__left {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.bar__heading {
  color: #000;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  margin-right: 15px;
  line-height: 2.4rem;
}
.bar__right {
  padding: 7px 15px;
}
.bar__nav {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.bar__nav a {
  padding: 10px 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4F76B4;
  display: inline-block;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.bar__nav a:hover {
  color: #60b661;
  text-decoration: none;
}
.bar__nav a.active {
  color: #60b661;
  background: #f7f7f7;
  border-bottom-color: #60b661;
}

.sort {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.sort a {
  padding: 10px 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4F76B4;
  display: inline-block;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.sort a:hover {
  color: #60b661;
  text-decoration: none;
}
.sort a.active {
  color: #60b661;
  background: #f7f7f7;
  border-bottom-color: #60b661;
}

.period {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.period__selected {
  color: #fff;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  background: #60b661;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #51ac52;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.period__selected span {
  margin: 0 5px;
  display: inline-block;
}
.period__selected:hover {
  color: #fff;
  background: #51ac52;
  text-decoration: none;
}
.period__dropdown {
  top: 100%;
  right: 0;
  padding: 0;
  z-index: 100;
  display: none;
  overflow: hidden;
  min-width: 100%;
  list-style: none;
  background: #fff;
  margin: 5px 0 0 0;
  position: absolute;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.period__dropdown li a {
  width: 100%;
  color: #4F76B4;
  padding: 4px 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.period__dropdown li a:hover {
  color: #4F76B4;
  background: #f5f5f5;
  text-decoration: none;
}
.period__dropdown li.active a {
  color: #fff;
  background: #51ac52;
}
.period.open .period__dropdown {
  display: block;
}

.heading {
  color: #8D8D8D;
  font-size: 1.6rem;
  line-height: 2rem;
  padding-top: 8px;
  margin-bottom: 2px;
}

.panel {
  color: #000;
  display: block;
  background: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.panel:hover {
  color: #000;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.panel__body {
  padding: 12px 16px 16px 16px;
}
.panel__heading {
  background: #FBFBFB;
  padding: 8px 16px 8px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.panel__title {
  color: #000;
  font-size: 1.6rem;
  line-height: 2rem;
}

.text_value {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.text_value__elem {
  padding: 0 6px;
  display: inline-block;
}
.text_value sup {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.steps {
  padding-top: 8px;
  margin: 0 -15px 24px -15px;
  font-size: 1.4rem;
  line-height: 2rem;
}
.steps li {
  color: #C4C4C4;
  padding: 5px 15px;
  position: relative;
  white-space: nowrap;
}
.steps li.steps_good {
  color: #4F76B4;
}
@media (min-width: 768px) {
  .steps {
    padding: 8px 0 0 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .steps li {
    width: 150px;
    text-align: center;
    padding: 0 15px 20px 15px;
  }
  .steps li:after {
    bottom: 6px;
    z-index: 1;
    width: 150px;
    height: 1px;
    content: "";
    left: 50%;
    margin-left: -150px;
    position: absolute;
    background: #C4C4C4;
  }
  .steps li:before {
    z-index: 5;
    bottom: 0;
    left: 50%;
    content: "";
    width: 12px;
    height: 12px;
    margin-left: -6px;
    position: absolute;
    background: #C4C4C4;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .steps li:first-child:after {
    display: none;
  }
  .steps li.steps_good:before {
    background: #4F76B4;
  }
  .steps li.steps_good:after {
    background: #4F76B4;
  }
}

.step {
  max-width: 800px;
  margin: 0 auto 32px auto;
  background: #fff;
  -webkit-border-radius: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-border-radius: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0px 1px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.step__heading {
  padding: 18px 16px;
  font-size: 2rem;
  line-height: 2.4rem;
  border-bottom: 1px solid #EFEFEF;
}
.step__body {
  padding: 16px 16px 16px 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.step__bottom {
  margin: 8px 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.step__bottom_col {
  padding: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.step__bottom_center {
  width: 100%;
  padding: 8px;
  text-align: center;
}
.step__total {
  font-size: 1.6rem;
  line-height: 2rem;
}

.step_pay {
  color: #000;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.step_pay span {
  padding: 2px 0;
  display: inline-block;
}

.text_info {
  color: #8D8D8D;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 4px;
}

.label_base {
  color: #fff;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 1px 10px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #60b661;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.label_yellow {
  background: #F0C232;
}

.label_red {
  background: #F52C00;
}

.label_blue {
  background: #387CB5;
}

.pay_list {
  padding: 0;
  margin: 0 -8px;
  list-style: none;
}
.pay_list li {
  padding: 8px;
}
@media (min-width: 576px) {
  .pay_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .pay_list li {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .pay_list li {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  .pay_list {
    margin: 0 -12px;
  }
  .pay_list li {
    padding: 12px;
  }
}

.pay_item {
  color: #000;
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  position: relative;
  text-align: center;
}
.pay_item input {
  display: none;
}
.pay_item__elem {
  padding: 5px;
  height: 120px;
  cursor: pointer;
  position: relative;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.pay_item__icon {
  width: 100%;
  margin: auto 0;
}
.pay_item i {
  display: inline-block;
}
.pay_item span {
  display: block;
}
.pay_item input:checked + .pay_item__elem:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border: 4px solid #4F76B4;
}

.account {
  margin: 0 auto;
  background: #fff;
  max-width: 570px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.account__heading {
  padding: 8px 16px;
  font-size: 2rem;
  line-height: 2.4rem;
  background: #fbfbfb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.account__body {
  padding: 16px;
}

.modal {
  padding: 0;
  width: 320px;
  background: #fff;
}
.modal__heading {
  color: #000;
  background: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 15px 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #d8d8d8;
}
.modal__body {
  padding: 10px 20px 20px 20px;
}
@media (min-width: 768px) {
  .modal {
    width: 600px;
  }
  .modal__heading {
    padding: 15px 45px;
  }
  .modal__body {
    padding: 10px 45px 20px 45px;
  }
}

/*# sourceMappingURL=main.css.map */
