.sidenav {
	left: 0;
	top: 65px;
	width: 50px;
	display: block;
	position: fixed;
	background: #4F76B4;
	height: calc(100vh - 65px);

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #3F5F90;

		&:last-child {
			border-bottom: none;
		}

		> li {

			a {
				color: #fff;
				height: 40px;
				width: 100%;
				padding: 5px 10px;
				font-size: 1.4rem;
				line-height: 2rem;
				position: relative;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);

				&:before {
					top: 0;
					left: 0;
					bottom: 0;
					width: 4px;
					content: '';
					display: block;
					position: absolute;
					background: transparent;
				}

				i {
					width: 20px;
					display: inline-block;
				}

				span {
					display: none;
				}

				&:hover {
					color: #fff;
					background: #3F5F90;
					text-decoration: none;
				}
			}

			&.active {
				background: #3F5F90;

				> a {

					&:before {
						background: #fff;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 250px;

		> ul {

			> li {

				> a {
					height: 48px;
					padding: 5px 20px;
					@include justify-content(flex-start);

					span {
						margin-left: 17px;
						display: inline-block;
					}
				}
			}
		}
	}
}
