.page {
	width: 100%;
	background: #F0F2F5;
	padding-left: 50px;
	overflow: hidden;
	min-height: 100vh;
	padding-top: 65px;
	@include flexbox();
	@include flex-direction(column);

	&_no_sidenav {
		padding-left: 0;
	}

	@media (min-width: $screen-lg-min) {
		padding-left: 250px;

		&_no_sidenav {
			padding-left: 0;
		}
	}
}

.main {
	@include flex-grow(1);
}

.wrap {
	padding: 16px 0;
}

.bar {
	background: #fff;
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);

	&__left {
		padding: 0 15px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}

	&__heading {
		color: #000;
		padding: 10px 0;
		font-size: 2rem;
		font-weight: 600;
		margin-right: 15px;
		line-height: 2.4rem;
	}

	&__right {
		padding: 7px 15px;
	}

	&__nav {
		font-size: 0;
		line-height: 0;
		@include flexbox();

		a {
			padding: 10px 15px;
			font-size: 1.4rem;
			line-height: 2rem;
			color: $color-blue;
			display: inline-block;
			text-decoration: none;
			border-top: 2px solid transparent;
			border-bottom: 2px solid transparent;

			&:hover {
				color: #60b661;
				text-decoration: none;
			}

			&.active {
				color: #60b661;
				background: #f7f7f7;
				border-bottom-color: #60b661;
			}
		}
	}
}

.sort {
	font-size: 0;
	line-height: 0;
	@include flexbox();

	a {
		padding: 10px 15px;
		font-size: 1.4rem;
		line-height: 2rem;
		color: $color-blue;
		display: inline-block;
		text-decoration: none;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;

		&:hover {
			color: #60b661;
		//	background: #f7f7f7;
			text-decoration: none;
		//	border-bottom-color: #60b661;
		}

		&.active {
			color: #60b661;
			background: #f7f7f7;
			border-bottom-color: #60b661;
		}
	}
}

.period {
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&__selected {
		color: #fff;
		cursor: pointer;
		padding: 4px 10px;
		font-size: 1.3rem;
		line-height: 2rem;
		background: #60b661;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
		border: 1px solid #51ac52;
		@include border-radius(3px);

		span {
			margin: 0 5px;
			display: inline-block;
		}

		&:hover {
			color: #fff;
			background: #51ac52;
			text-decoration: none;
		}
	}

	&__dropdown {
		top: 100%;
		right: 0;
		padding: 0;
		z-index: 100;
		display: none;
		overflow: hidden;
		min-width: 100%;
		list-style: none;
		background: #fff;
		margin: 5px 0 0 0;
		position: absolute;
		border: 1px solid #f5f5f5;
		@include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
		@include border-radius(3px);

		li {

			a {
				width: 100%;
				color: #4F76B4;
				padding: 4px 10px;
				font-size: 1.3rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #4F76B4;
					background: #f5f5f5;
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: #fff;
					background: #51ac52;
				}
			}
		}
	}

	&.open {

		.period__dropdown {
			display: block;
		}
	}
}

.heading {
	color: #8D8D8D;
	font-size: 1.6rem;
	line-height: 2rem;
	padding-top: 8px;
	margin-bottom: 2px;
}

.panel {
	color: #000;
	display: block;
	background: #fff;
	text-decoration: none;
	border: 1px solid transparent;
	@include border-radius(2px);
	@include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));

	&:hover {
		color: #000;
		text-decoration: none;
		@include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
	}

	&__body {
		padding: 12px 16px 16px 16px;
	}

	&__heading {
		background: #FBFBFB;
		padding: 8px 16px 8px 16px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__title {
		color: #000;
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

.text_value {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);

	&__elem {
		padding: 0 6px;
		display: inline-block;
	}

	sup {
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}

.steps {
	padding-top: 8px;
	margin: 0 -15px 24px -15px;
	font-size: 1.4rem;
	line-height: 2rem;


	li {
		color: #C4C4C4;
		padding: 5px 15px;
		position: relative;
		white-space: nowrap;

		&.steps_good {
			color: $color-blue;
		}
	}

	@media (min-width: $screen-md-min) {

		padding: 8px 0 0 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		li {
			width: 150px;
			text-align: center;
			padding: 0 15px 20px 15px;

			&:after {
				bottom: 6px;
				z-index: 1;
				width: 150px;
				height: 1px;
				content: '';
				left: 50%;
				margin-left: -150px;
				position: absolute;
				background: #C4C4C4;
			}

			&:before {
				z-index: 5;
				bottom: 0;
				left: 50%;
				content: '';
				width: 12px;
				height: 12px;
				margin-left: -6px;
				position: absolute;
				background: #C4C4C4;
				display: inline-block;
				@include border-radius(50%);
			}

			&:first-child {

				&:after {
					display: none;
				}
			}

			&.steps_good {

				&:before {
					background: $color-blue;
				}

				&:after {
					background: $color-blue;
				}
			}
		}
	}
}

.step {
	max-width: 800px;
//	min-height: 500px;
	margin: 0 auto 32px auto;
	background: #fff;
	@include border-radius(0px 1px 2px rgba(0, 0, 0, 0.2));
	@include flexbox();
	@include flex-direction(column);

	&__heading {
		padding: 18px 16px;
		font-size: 2rem;
		line-height: 2.4rem;
		border-bottom: 1px solid #EFEFEF;
	}

	&__body {
		padding: 16px 16px 16px 16px;
		@include flex-grow(1);
	}

	&__bottom {
		margin: 8px 8px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);

		&_col {
			padding: 8px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(center);
		}

		&_center {
			width: 100%;
			padding: 8px;
			text-align: center;
		}
	}

	&__total {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

.step_pay {
	color: #000;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 10px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);

	span {
		padding: 2px 0;
		display: inline-block;
	}
}

.text_info {
	color: #8D8D8D;
	font-size: 1.2rem;
	line-height: 2rem;
	margin-bottom: 4px;
}

.label_base {
	color: #fff;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 2rem;
	padding: 1px 10px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #60b661;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	@include border-radius(4px);
}

.label_yellow {
	background: #F0C232;
}

.label_red {
	background: #F52C00;
}

.label_blue {
	background: #387CB5;

}


.pay_list {
	padding: 0;
	margin: 0 -8px;
	list-style: none;

	li {
		padding: 8px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -12px;

		li {
			padding: 12px;
		}
	}
}


.pay_item {
	color: #000;
	width: 100%;
	display: block;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4rem;
	position: relative;
	text-align: center;

	input {
		display: none;
	}

	&__elem {
		padding: 5px;
		height: 120px;
		cursor: pointer;
		position: relative;
		border: 1px solid #ccc;
		@include flexbox();
		@include flex-direction(column);
		@include border-radius(2px);
	}

	&__icon {
		width: 100%;
		margin: auto 0;
	}

	i {
		display: inline-block;
	}

	span {
		display: block;
	}

	input:checked + .pay_item__elem {

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			border: 4px solid $color-blue;
		}
	}
}

.account {
	margin: 0 auto;
	background: #fff;
	max-width: 570px;
	@include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));

	&__heading {
		padding: 8px 16px;
		font-size: 2rem;
		line-height: 2.4rem;
		background: #fbfbfb;
		@include border-radius(2px);
	}

	&__body {
		padding: 16px;
	}
}

.modal {
	padding: 0;
	width: 320px;
	background: #fff;

	&__heading {
		color: #000;
		background: #fff;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 15px 20px;
		text-transform: uppercase;
		border-bottom: 1px solid #d8d8d8;
	}

	&__body {
		padding: 10px 20px 20px 20px;
	}

	@media (min-width: $screen-md-min) {
		width: 600px;

		&__heading {
			padding: 15px 45px;
		}

		&__body {
			padding: 10px 45px 20px 45px;
		}
	}

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}