.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1200;
	position: fixed;
	background: #fff;
	border-bottom: 5px solid #4669A3;

	&__row {
		height: 60px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__elements {
		@include flexbox();
		@include align-items(center);
		@include justify-content(flex-end);
	}

	&__logo {
		width: 40px;
		display: block;
	}

	&_summary {
		color: #000;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;
		margin: 0 0 0 30px;
	}

	&_exchange {
		color: #000;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;
		margin: 0 30px 0 30px;

		strong {
			font-weight: 400;
		}
	}

	&_account {
		font-size: 0;
		line-height: 0;
		margin-right: -15px;
		position: relative;

		&__button {
			width: 50px;
			height: 60px;
			cursor: pointer;
			padding: 20px 15px;
			background: #fff;
			position: relative;
			text-align: center;

			i {
				width: 20px;
				height: 20px;
				display: inline-block;
			}

			.ico-svg {
				stroke: $color-blue;
			}

			&:hover {
				background: $color-blue;

				.ico-svg {
					stroke: #fff;
				}
			}
		}

		&__dropdown {
			right: 0;
			top: 100%;
			padding: 0;
			min-width: 100%;
			display: none;
			list-style: none;
			background: #fff;
			margin:  5px 0 0 0;
			position: absolute;
			border: 1px solid #f5f5f5;
			@include box-shadow(0 6px 12px rgba(0,0,0,.175));

			li {
				border-bottom: 1px solid #f5f5f5;

				&:last-child {
					border-bottom: none;
				}

				a {
					width: 100%;
					color: $color-blue;
					padding: 10px 15px;
					font-size: 1.4rem;
					line-height: 2rem;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: $color-blue;
						background: #f5f5f5;
						text-decoration: none;
					}
				}
			}
		}

		&.open {

			.header_account__button {
				background: $color-blue;

				.ico-svg {
					stroke: #fff;
				}
			}

			.header_account__dropdown {
				display: block;
			}
		}
	}

	&_lng {
		font-size: 0;
		line-height: 0;
		margin-left: 15px;
		position: relative;

		&__active {
			width: 50px;
			height: 60px;
			cursor: pointer;
			padding: 20px 15px;
			background: #fff;
			position: relative;
			text-align: center;

			i {
				width: 20px;
				height: 20px;
				overflow: hidden;
				display: inline-block;
				@include border-radius(50%);
			}

			.ico-svg {
				stroke: $color-blue;
			}

			&:hover {
				background: $color-blue;
			}
		}

		&__dropdown {
			right: 0;
			top: 100%;
			padding: 0;
			display: none;
			list-style: none;
			margin: 0 0 0 0;
			position: absolute;
			background: #fff;
			border: 1px solid #f5f5f5;
			@include box-shadow(0 6px 12px rgba(0,0,0,.175));

			li {

				a {
					width: 100%;
					color: $color-blue;
					line-height: 2rem;
					font-size: 1.4rem;
					padding: 10px 15px;
					text-decoration: none;
					text-transform: uppercase;
					@include flexbox();
					@include align-items(center);

					i {
						width: 20px;
						height: 20px;
						overflow: hidden;
						@include border-radius(20px);
					}

					span {
						margin-left: 10px;
					}

					&:hover {
						background: #f5f5f5;
					}
				}
			}
		}

		&.open {

			.header_lng__active {
				background: $color-blue;
			}

			.header_lng__dropdown {
				display: block;
			}
		}
	}

	&_currency {
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;

		&__active {
			color: #fff;
			cursor: pointer;
			padding: 4px 14px;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			background: #60b661;
			text-decoration: none;
			border: 1px solid #51ac52;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			@include border-radius(3px);

			&:hover {
				color: #fff;
				background: #51ac52;
				text-decoration: none;
			}

			i {
				@include transition(.3s);
			}
		}

		&__value {
			min-width: 30px;
			margin: 0 6px;
		}

		&__dropdown {
			left: 0;
			right: 0;
			top: 100%;
			padding: 0;
			z-index: 10;
			display: none;
			overflow: hidden;
			background: #fff;
			list-style: none;
			margin: 8px 0 0 0;
			position: absolute;
			border: 1px solid #f5f5f5;
			@include box-shadow(0 6px 12px rgba(0,0,0,.175));
			@include border-radius(3px);

			li {
				border-bottom: 1px solid #f5f5f5;

				&:last-child {
					border-bottom: none;
				}

				a {
					width: 100%;
					color: #000;
					padding: 5px 27px 5px 15px;
					font-size: 1.4rem;
					line-height: 2rem;
					display: inline-block;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						color: #000;
						background: #f5f5f5;
						text-decoration: none;
					}
				}

				&.active {

					a {
						font-weight: 700;
					}
				}
			}
		}

		&.open {

			.header_currency__active {
				color: #fff;
				background: #51ac52;

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}

			.header_currency__dropdown {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__logo {
			width: 60px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}

}