
.btn {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 4px 20px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #60b661;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #2ab62e;
	@include border-radius(4px);

	&:hover {
		color: #fff;
		background: #2ab62e;
		text-decoration: none;
	}

	&:active {
		background: #60b661;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	span {
		margin: 0 8px;
	}
}

.btn_red {
	background: #F52C00;
	border-color: #f55345;

	&:hover {
		background: #f55345;
	}

	&:active {
		background: #F52C00;
	}
}

.btn_blue {
	background: #387CB5;
	border-color: #1761b5;

	&:hover {
		background: #1761b5;
	}

	&:active {
		background: #387CB5;
	}
}

.btn_yellow {
	background: #F0C232;
	border-color: #F0C232;

	&:hover {
		background: #f0e50b;
	}

	&:active {
		background: #F0C232;
	}
}

.btn_purple {
	background: #9A5EB4;
	border-color: #913eb4;

	&:hover {
		background: #913eb4;
	}

	&:active {
		background: #9A5EB4;
	}
}


.btn_rose {
	background: #ff7b6c;
	border-color: #ff7b6c;

	&:hover {
		background: #ff3e2d;
	}

	&:active {
		background: #ff7b6c;
	}
}

.btn_gray {
	color: #000;
	background: #EFEFEF;
	border-color: #EFEFEF;

	&:hover {
		color: #000;
		background: #a9a9a9;
	}
}

.btn_border {
	color: #000;
	border-color: #ccc;
	background: transparent;

	&:hover {
		color: #fff;
		background: #60b661;
		border-color: #60b661;
	}

	&.active {
		color: #fff;
		background: #60b661;
		border-color: #60b661;
	}
}

.btn_border_blue {
	color: #387CB5;
	border-color: #387CB5;
	background: transparent;

	&:hover {
		color: #fff;
		background: #387CB5;
		border-color: #387CB5;
	}

	&.active {
		color: #fff;
		background: #387CB5;
		border-color: #387CB5;
	}
}


.btn_list {
	padding: 0;
	list-style: none;
	margin: 0 -4px;
	@include flexbox();
	@include flex-wrap(wrap);

	li {
		padding: 4px;
	}
}

.btn-sm {
	padding: 4px 10px;
}

.btn_xs {
	border: none;
	font-size: 11px;
	padding: 1px 10px;
}

.btn_md {
	font-weight: 700;
	padding: 9px 25px;
}

.btn_long {
	width: 100%;
}

.btn_group {
	font-size: 0;
	line-height: 0;
	@include flexbox();
	@include align-items(center);
	@include flex-wrap(wrap);

	.btn {
		margin-left: -1px;
		@include border-radius(0);

		&:first-child {
			margin-left: 0;
		}
	}
}