.form_control {
	margin: 0;
	width: 100%;
	color: #000;
	height: 40px;
	outline: none;
	background: #fff;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 4px 16px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ccc;
	@include placeholder(#000);
	@include border-radius(3px);

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

}

textarea.form_control {
	height: auto;
}

.form_label {
	display: block;
	color: #000;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
	margin-bottom: 8px;

	&_line {
		padding: 8px 0;
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

.form_group {
	margin-bottom: 16px;
}


.switch {
	z-index: 10;
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&__active {
		color: #fff;
		cursor: pointer;
		padding: 4px 14px;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		background: #60b661;
		text-decoration: none;
		border: 1px solid #51ac52;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include border-radius(3px);

		&:hover {
			color: #fff;
			background: #51ac52;
			text-decoration: none;
		}

		i {
			@include transition(.3s);
		}
	}

	&__value {
		min-width: 30px;
		margin: 0 6px;
	}

	&__dropdown {
		left: 0;
		right: 0;
		top: 100%;
		padding: 0;
		z-index: 10;
		display: none;
		overflow: hidden;
		background: #fff;
		list-style: none;
		margin: 8px 0 0 0;
		position: absolute;
		border: 1px solid #f5f5f5;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));
		@include border-radius(3px);

		li {
			border-bottom: 1px solid #f5f5f5;

			&:last-child {
				border-bottom: none;
			}

			a {
				width: 100%;
				color: #000;
				padding: 5px 15px 5px 15px;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: #000;
					background: #dfdfdf;
					text-decoration: none;
				}
			}
		}
	}

	&.open {
		z-index: 100;

		.switch__active {
			color: #fff;
			background: #51ac52;

			i {
				@include rotate(180deg);
				@include transition(.3s);
			}
		}

		.switch__dropdown {
			display: block;
		}
	}
}

.input_wrap {
	position: relative;
}

.input_switch {
	top: 5px;
	right: 5px;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	position: absolute;
}

.form_checkbox {
	width: 40px;
	height: 40px;
	font-weight: 400;

	input {
		display: none;
	}

	span {
		color: #ccc;
		width: 40px;
		height: 40px;
		padding: 11px 0 11px 0;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		display: inline-block;
		border: 1px solid #ccc;
		@include border-radius(3px);

		i {
			opacity: 0;
			visibility: hidden;
		}
	}


	input:checked + span {

		i {
			opacity: 1;
			visibility: visible;
		}
	}
}