.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;

	th {
		text-align: left;
		color: #8D8D8D;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 15px 10px;
		border-bottom: 1px solid #EFEFEF;
	}

	td {
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 10px 10px;
		border-bottom: 1px solid #EFEFEF;
	}
}

.table_mobile {

	@media (max-width: $screen-md-min) {
		display: block;

		thead {
			display: none;
		}

		tbody {
			display: block;
		}

		th {
			display: none;
		}

		tr {
			display: block;
			background: #fff;
			margin-bottom: 15px;
			border: 1px solid #4F76B4;

			&:nth-child(even) {

			}
		}

		td {
			@include flexbox();
			@include justify-content(space-between);

			&:before {
				padding-right: 10px;
				content: attr(data-label);
				text-transform: uppercase;
				font-weight: bold;
			}
		}

	}
}



.table_responsive {
	max-width: 100%;
	overflow-x: auto;
	margin-bottom: 8px;
}
